@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cardo", serif;
}
button:hover{
    cursor: pointer;
}

body {
    color: #1d1d1d;
    background-color: rgba(234, 232, 232, 255);
}

.homePage {
    width: 100%;
    background-image: url(./images/scribble_lightest_2.png), url(./images/scribble_dark_7.png);
    background-position: left top 249px, right bottom 16px;
    background-repeat: no-repeat;
    background-size: 42% 115%, 7% 32%;
}

.home {
    display: flex;
    flex-direction: column;
    width: 88%;
    margin: auto;
    padding: 3% 2%;
}
.headingText{
    display: none;
}
.heading,
.contents {
    display: flex;
    justify-content: space-between;
}
.toggle{
    display: none;
}
.toggle_menu {
    position: absolute;
    width: 30px;
    height: 10%;
    opacity: 0;
    z-index: 3;
}

.navigation {
    width: 47%;
    padding-top: 1%;
}

.navigation a {
    text-decoration: none;
    padding: 6%;
    font-size: 121%;
    color: grey;
}

.navigation a:hover {
    transition: all 1s ease;
    font-weight: bold;
    color: black;
}

.contact {
    width: 18%;
}

.contact button {
    padding: 3% 16%;
    background-color: transparent;
    font-weight: bold;
    width: 100%;
    font-size: 21px;
    border: 2px solid black;
    border-radius: 9px;
}
.contact button:hover{
    background-color: black;
    color:rgba(234,232,232,255);
    cursor: pointer;
}

.contents {
    margin-top: 4%;
    padding: 2% 0%;
}

.contentsText {
    width: 43%;
    padding: 1%;
}

.contentsText h3 {
    font-size: 75px;
    line-height: 75px;
    -webkit-text-stroke: 1px;
}

.contentsText p {
    margin: 5% 0%;
    font-size: 16px;
    color: #6a6969;

}

#reverseTicket {
    background-color: black;
    color: white;
    padding: 2%;
    width: 43%;
    font-size: 17px;
    border-radius: 2px;
    margin: 3% 0%;
    border: none;
}
#reverseTicket:hover{
    background-color: rgb(192, 192, 192);
    color: black;
    cursor: pointer;
}

.homeImage {
    width: 50%;
}

.homeImage img {
    width: 100%;
    height: 25rem;
}

.travelLogs {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    color: #eae8e8;
    background-image: url('./images/scribble_light.png'), url('./images/scribble_light_2.png');
    background-repeat: no-repeat;
    background-position: left top 66px, right bottom 48px;
    background-size: 29% 23%,32%;
}

.travelLogContent {
    margin: auto;
    width: 33%;
    text-align: center;
    font-size: 22px;
}

.travelLogs h1 {
    margin: 6%;
    line-height: 43px;
}

.travelLogs p {
    font-size: 15px;
    margin: 2%;
    line-height: 18px;
}

.travelLogs button {
    background-color: transparent;
    color: #eae8e8;
    border: 2px solid #eae8e8;
    padding: 2%;
    font-size: 16px;
    width: 47%;
    border-radius: 7px;
    margin: 6% 2% 8% 2%;
}

.travelContainer {
    background-image: url('./images/scribble_dark_6.png'), url('./images/scribble_dark_5.png');
    background-repeat: no-repeat;
    background-position: left top 48px, right bottom -8px;
    background-color: rgba(234, 232, 232, 255);
    background-size: 3% 86%, 3% 43%;
}
.travelContent h1{
    -webkit-text-stroke: 1px;
}

.travelInnerContainer {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}

.blankSpace {
    width: 100%;
    height: 5rem;
}

.leftImage,
.middleImage,
.rightImage {
    width: 30%;
    margin-top: 4%;
    font-weight: bold;
}

.travelInnerContainer img {
    width: 100%;
    height: 16rem;
    padding-bottom: 5%;
}

.travelInnerContainer p {
    font-size: 14.5px;
    font-weight: bold;
    margin-top: 5%;
    text-align: justify;
    padding: 2%;
}

.underline {
    border: 2px solid black;
    width: 12%;
    margin: 3% 0%;
}

.airplaneContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./images/scribble_dark_4.png'), url('./images/scribble_lightest.png');
    background-position: 80px 700px, right top 200px;
    background-repeat: no-repeat;
    background-size: 346px 109px, 200px;
}

.blank {
    width: 100%;
    height: 20rem;
}

.airplaneText {
    width: 56%;
    font-size: 56px;
}

#airplaneTextPara {
    text-align: center;
    margin-top: 8%;
    font-size: 21px;
    font-weight: 1000;
}

.airplaneText p:first-child {
    font-size: 97px;
    font-weight: 1000;
    line-height: 95%;
    margin-top: 7%;
}

.blankSpaceContainer {
    width: 100%;
    height: 10rem;
}

.twoImageContainer {
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: auto;
}

.leftImageContainer {
    width: 47%;
    height: 43rem;
}

.leftImageContainer img:first-child {
    width: 100%;
    height: 100%;
}

.right {
    width: 48%;
}

.rightText {
    font-weight: bold;
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}

.rightTextHeading {
    width: 37%;
    padding: 2%;
    font-size: 19px;
    font-weight: 200;
    text-decoration: underline;
}

.rightTextPara {
    width: 60%;
    font-size: 15px;
    padding-top: 4%;
}

.rightArrow {
    float: right;
    width: 35%;
}

.rightArrow img{
    width: 100%;
}

.innerParagraph {
    width: 100%;
    padding: 1%;
}

.innerParagraph p {
    padding-bottom: 5%;
}

#tape {
    position: relative;
    z-index: 1;
    bottom: 78%;
    transform: translateX(-35px);
}

.explore {
    background-color: black;
    color: white;
    background-image: url(./images/scribble_light.png);
    background-repeat: no-repeat;
    background-position: left bottom -10px;
    background-size: 32%;
}

.exploreInnerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10% 0%;
}

.exploreImage {
    width: 57%;
    height: 29rem;
}

.exploreImage img {
    width: 100%;
    height: 100%;
}

.exploreText {
    width: 38%;
    padding-left: 7%;
}

.exploreTextHead {
    padding-bottom: 8%;
    font-size: 21px;
}

.exploreTextPara {
    margin-top: 4%;
    padding: 2%;
    font-size: 13px;
    text-wrap: balance;
}
.exploreTextPara p{
    margin-top: 2%;
}
.addPost {
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: auto;
}

.addPostLeft {
    width: 60%;
}

.addPostRight {
    width: 40%;
}

.addPostHeading {
    line-height: 62px;
    padding: 11% 0%;
    font-size: 35px;
    font-weight: bold;
    width: 100%;
}

.addText {
    font-size: 15px;
    padding: 2% 0%;
}

.addIcon {
    width: 14%;
}

.addIcon i {
    font-size: 23px;
    padding: 20%;
}

.addPostRight {
    width: 34%;
    margin: 6% 0%;
}

.addPostRight img {
    width: 100%;
    height: 31rem;
}

.addPostTable {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 2%;
}

.addPostTableContent {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.customerFeedback {
    margin-top: 2%;
    background-image: url(./images/scribble_dark_2.png), url(./images/scribble_dark_3.png);
    background-repeat: no-repeat;
    background-position: left top 74px, right bottom 67px;
    background-size: 25rem 11rem, 25rem;
}

.FeedbackHeading {
    text-align: center;
    font-size: 32px;
    width: 47%;
    margin: auto;
    font-weight: bold;
}

.feedbackCard {
    width: 100%;
    margin: 8% auto;
    display: flex;
    justify-content: space-evenly;
}

#leftArrowButton,
#rightArrowButton {
    height: 51px;
    width: 65px;
    position: relative;
    top: 162px;
    border: 2px solid black;
    border-radius: 12px;
}

#leftArrowButton {
    left: 40px;
}

#leftArrowButton i,
#rightArrowButton i {
    font-size: 24px;
}

#rightArrowButton {
    right: 40px;
}

.leftCard,
.rightCard,
.middleCard {
    width: 28%;
    text-align: center;
    border: 2px solid black;
    border-radius: 2%;
    margin-left: 1%;
    font-weight: bold;
}

.leftCard>img,
.rightCard>img,
.middleCard>img {
    padding: 12% 9%;
}

.leftCard>h1,
.rightCard>h1,
.middleCard>h1 {
    font-size: 20px;
}

.leftCard>p,
.rightCard>p,
.middleCard>p {
    font-size: 13px;
    padding: 6%;
}

.beUpdated {
    width: 88%;
    margin: auto;
    padding: 10% 0%;
    display: flex;
    justify-content: space-between;
}
.exploreHeading, .beUpdatedFormResponsive, .beUpdatedHeading, .addPostHeadingResponsive{
    display: none;
}
.beUpdatedForm {
    width: 37%;
    display: flex;
    flex-direction: column;
}

.beUpdatedImage {
    margin-left: 6%;
    width: 56.5%;
}

.beUpdatedImage img {
    width: 100%;
    height: 42rem;
}


.beUpdatedForm h1 {
    text-align: center;
    font-size: 68px;
    margin-bottom: 9%;
}

.beUpdated input {
    width: 100%;
    border: 2px solid black;
    padding: 4%;
    margin: 2% 0%;
    border-radius: 9px;
    height: 47.5px;
    background-color: transparent;
    font-size: 20px;
}

.beUpdated textarea {
    width: 100%;
    border: 2px solid black;
    border-radius: 9px;
    background-color: transparent;
    padding: 4%;
    font-size: 20px;
    margin-top: 2%;
}

#submitButton {
    background-color: black;
    border: none;
    color: white;
    width: 100%;
    height: 56px;
    border-radius: 4px;
    font-size: 23px;
    margin-top: 13%;
}

.footer {
    background-color: rgba(197, 197, 197, 255);
    background-image: url(./images/scribble_dark.png);
    background-repeat: no-repeat;
    background-position: left bottom 33px;
    background-size: 286px;
}

.innerFooter {
    padding-top: 6%;
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: auto;
    font-weight: bold;
}

.leftFooter {
    width: 32%;
    font-size: 28px;
    line-height: 52px;
    margin-bottom: 2%;
    padding-top: 2%;
}

.rightFooter {
    width: 74%;
}

.footerHeading {
    width: 100%;
    margin: 3% 0%;
    padding-left: 2%;
}

.footerLinks {
    font-size: 17px;
    width: 100%;
    display: flex;
}

.links {
    padding: 2%;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.links a {
    text-decoration: none;
    color: black;
    padding: 2%;
}

.copyrightInfo {
    width: 88%;
    font-weight: bold;
    margin: auto;
    padding: 3% 31%;
}

.links a:hover {
    cursor: pointer;
    color: black;
    -webkit-text-stroke: 1px;
}

/* Responsive */
@media (min-width: 320px) and (max-width: 767px) {
    .homePage{
        background-image:none;

    }
    .home {
        padding: 0;
    }

    .heading{
        display: flex;
        justify-content: space-between;
    }

    .toggle{
        display: block;
        content: "";
        position: relative;
        background-color: black;
        width: 30px;
        height: 4px;
        margin-top: 7%;
        z-index: 2;
    }

    .toggle:before, .toggle:after{
        position: absolute;
        content: "";
        background-color: black;
        width: 30px;
        height: 4px;
        transition: all 0.5s;
    }
    .toggle:before{
        top: -10px;
    }
    .toggle:after{
        top: 10px;
    }

    .heading input:checked~.toggle {
        background-color: transparent;
    }

    .heading input:checked~.toggle:before {
        top: 0;
        width: 20px;
        transform: rotate(-45deg);
    }

    .heading input:checked~.toggle:after {
        top: 0;
        width: 20px;
        transform: rotate(45deg);
    }
    .headingText{
        display: block;
        width: 100%;
        font-size: 36px;
        text-align: center;
        padding: 4% 0%;
    }

    .navigation {
        position: absolute;
        width: 100%;
        right: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgba(234, 232, 232, 255);
        text-align: center;
        transition: 0.75s;
    }

    .heading input:checked~ .navigation{
        right: 0%;
    }

    .navigation a {
        color: black;
        padding-right: 3%;
        font-weight: bold;
    }

    .contact {
        width: 24%;
        margin-top: 3%;
    }

    .contact button {
        padding: 7% 12%;
        background-color: transparent;
        font-weight: 700;
        width: 100%;
        font-size: 12px;
        border: 2px solid black;
    }

    .contents {
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 4%;
        padding: 2% 0%;
    }

    .contentsText {
        width: 100%;
        padding: 1%;
    }

    .contentsText h3 {
        display: none;
    }

    .contentsText p {
        color: #6a6969;
        font-size: 15px;

    }

    #reverseTicket {
        margin: 6% auto;
        background-color: black;
        color: white;
        padding: 2%;
        width: 50%;
        font-size: 20px;
        font-weight: bold;
    }

    .homeImage {
        width: 100%;
    }

    .blankSpace{
        display: none;
    }

    .travelLogs {
        background-image: none;
        justify-content: space-evenly;
    }

    .travelLogContent {
        margin: auto;
        width: 100%;
        padding: 3%;
        text-align: center;
        font-size: 22px;
    }

    .travelContainer{
        background-image: none;
    }

    .travelInnerContainer {
        flex-direction: column;
        text-align: center;
        margin: 9% auto;
    }


    .leftImage,
    .middleImage,
    .rightImage {
        width: 100%;
        margin: 9% auto;
        font-weight: bold;
        box-shadow: 0px 0px 28px;
    }

    .travelContent h1 {
        display: inline-block;
        text-align: center;
    }

    .underline {
        align-items: center;
        margin: 2% auto;
    }
    .blank{
        height: 1rem;
    }

    .airplaneContainer {
        display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/scribble_lightest.png);
    background-position: right top 200px;
    background-repeat: no-repeat;
    background-size: 200px;
    }

    .airplane{
        width: 3rem;
        height: auto;
    }

    .airplane img{
        width: 100%;
        height: 100%;
    }

    .airplaneText {
        text-align: center;
        width: 80%;
        font-size: 20px;
    }
    .airplaneText p:first-child {
        font-size: 49px;
        font-weight: 1000;
        line-height: 95%;
        margin-top: 7%;
    }
    .blankSpaceContainer {
        height: 4rem;
    }
    .twoImageContainer {
        display: flex;
        flex-direction: column;
        width: 88%;
        margin: auto;
    }

    .leftImageContainer img:first-child {
        width: 100%;
        height: 100%;
    }
    .leftImageContainer {
        margin: auto;
        width: 100%;
        height: 27rem;
    }
    .topImage{
        width: 100%;
        margin: auto;
    }
    .right{
        width: 100%;
        margin: auto;
        padding-top: 9%;
    }

    .rightText {
        font-weight: bold;
        margin-top: 6%;
        display: flex;
        flex-direction: column;
    }

    .rightTextHeading {
        width: 95%;
        padding: 2%;
        font-size: 12px;
        font-weight: 200;
        text-decoration: underline;
        -webkit-text-stroke: 1px;
    }
    #rightTextHeading{
        text-align: center;
    }
    .rightTextPara {
        width: 100%;
        font-size: 12px;
        padding: 2% 0%;
        margin: auto;

    }

    .rightArrow {
        margin: auto;
        float: none;
    }

    #tape {
        position: relative;
        z-index: 1;
        height: 12rem;
        bottom: 78%;
        transform: translateX(-35px);
    }

    .topImage img {
        width: 100%;
    }

    .explore {
        background-color: black;
        color: white;
        background-image: url(./images/scribble_light.png);
        background-repeat: no-repeat;
        background-position: left bottom -10px;
        background-size: 32%;
    }

    .exploreInnerContainer {
        display: flex;
        flex-direction: column-reverse;
        width: 92%;
        margin: auto;
        padding: 10% 0%;
        text-align: center;
        align-items: center;
    }

    .exploreImage {
        width: 92%;
        margin:auto 2%;
        height: 22rem;
    }

    .exploreImage img {
        width: 100%;
        height: 100%;
    }

    .exploreText {
        width: 100%;
        padding: 0;
    }

    .exploreTextHead {
        display: none;
    }
    .exploreHeading{
        display: block;
        padding-bottom: 8%;
        font-size: 19px;
    }

    .exploreTextPara {
        margin-top: 3%;
        padding: 2%;
        font-size: 11px;
    }

    .addPost {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        width: 88%;
        margin: auto;
    }

    .addPostLeft {
        width: 100%;
    }

    .addPostRight {
        width: 100%;
    }

    .addPostHeading {
        display: none;
    }

    .addPostHeadingResponsive{
        display: block;
        line-height: 58px;
        padding: 8% 0%;
        font-size: 25px;
        font-weight: bold;
        width: 100%;
    }
    .addText {
        font-size: 13px;
        padding: 2% 0%;
    }

    .addIcon {
        width: 14%;
    }

    .addIcon i {
        font-size: 21px;
        padding: 20%;
    }

    .addPostRight {
        width: 100%;
        margin: 8% 0%;
    }

    .addPostRight img {
        width: 100%;
        height: 28rem;
    }

    .addPostTableContent {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        display: flex;
        justify-content: space-between;
    }

    .customerFeedback{
        background-image: none;
    }
    .FeedbackHeading {
        text-align: center;
        font-size: 24px;
        width: 100%;
        margin: auto;
        font-weight: bold;
    }

    .feedbackCard {
        width: 100%;
        margin: 8% auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .leftCard,
    .rightCard,
    .middleCard {
        width: 90%;
        text-align: center;
        border: 2px solid black;
        border-radius: 2%;
        margin-bottom: 6%;
        font-weight: bold;
    }

    #leftArrowButton,
    #rightArrowButton {
        height: 0rem;
        width: 0rem;
    }

    #leftArrowButton i,
    #rightArrowButton i {
        display: none;
    }

    .beUpdated {
        width: 100%;
        margin: auto;
        padding: 10% 0%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .beUpdated img{
        display: none;
    }

    .beUpdatedForm {
        display: none;
    }
    .beUpdatedFormResponsive{
        width: 90%;
        margin: auto;
        text-align: center;
        display: block;
    }
    .beUpdatedHeading{
        margin: auto;
        display: block;
        font-size: 24px;
        -webkit-text-stroke: 1px;
        padding-bottom: 4%;
    }

    #submitButton {
        width: 50%;
        margin: 4% auto;
    }

    .beUpdatedImage {
        margin: auto;
        width: 100%
    }

    .footer {
        background-image: none;
    }

    .innerFooter {
        padding-top: 6%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        font-weight: bold;
    }

    .leftFooter {
        width: 84%;
        font-size: 20px;
        text-align: center;
        margin: auto;
    }

    .rightFooter {
        width: 100%;
        margin: auto;
    }

    .footerHeading {
        display: none;
    }

    .footerLinks {
        font-size: 10px;
        width: 100%;
        display: flex;
    }

    .copyrightInfo {
        width: 100%;
        font-weight: bold;
        margin: auto;
        padding: 4% 22%;
        font-size: 11px;
    }

}